## True and False evaluation

In [ ]:
# None evaluates to False
print(bool(True))
print(bool(False))
print(bool(None))

True
False
False

In [ ]:
# Primitives evaluate to False if equal to 0 or empty, otherwise evaluate to True
# Tip / spoiler: use default value of "" instead of None for strings (easier for type checker)

print(bool(0))
print(bool(0.0))
print(bool(""))
print(bool(1))
print(bool(1155))
print(bool(-1))
print(bool(1.0))
print(bool(134.512312312))
print(bool("qwerty"))

False
False
False
True
True
True
True
True
True

In [ ]:
# Empty containers evaluate to False, non-empty containers evaluate to True

print(bool([]))
print(bool({}))
print(bool(set()))
print(bool([True, True]))
print(bool([True, False]))
print(bool([False, False]))
print(bool({0}))
print(bool({1, 0}))
print(bool({1, 1, 1}))

False
False
False
True
True
True
True
True
True

## Tricks with creating / assigning

In [ ]:
# Assigning multiple variables in the same line
# This expression creates new tuple from the objects on the right
# And then unpacks it

x, y, z = None, None, None

In [ ]:
# Swapping items works the same way 
# notice when a, b is called at the end colab prints tuple
# and if print is used then it won't

a = 1
b = 2
a, b = b, a
a, b

(2, 1)

In [ ]:
# Set comprehension

new_set = {1, 2, 3}
print(type(new_set), new_set)

<class 'set'> {1, 2, 3}

In [ ]:
# Combining dictionaries

dict1 = {"first": 1, "second": 2}
dict2 = {"third": 3, "fourth": 4}
print(dict1, dict2)

{'first': 1, 'second': 2} {'third': 3, 'fourth': 4}

In [ ]:
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4}

In [ ]:
# Risk - if there are duplicate keys, the lastest keys prevail

dict3 = {"first": 3}

dict_with_duplicate_keys = {**dict1, **dict3}
print(dict_with_duplicate_keys)

{'first': 3, 'second': 2}

In [ ]:
# Combining tuples

tuple1 = (1, 2)
tuple2 = (3, 4)

print(tuple1, tuple2)

(1, 2) (3, 4)

In [ ]:
combined_tuple = (*tuple1, *tuple2)
print(combined_tuple)

(1, 2, 3, 4)

In [ ]:
# Risky

badly_combined_tuple = (*tuple1, tuple2)
print(badly_combined_tuple)

(1, 2, (3, 4))

In [ ]:
# How to avoid - (spoiler) when using type hints in IDE, this code will be highlighted as potential error

from typing import Tuple

x: Tuple[int, int, int, int] = (*tuple1, tuple2)

In [ ]:
# Flattening lists

nested_list = [[1, 2], [3, 4], [5, 6]]
print(nested_list)

[[1, 2], [3, 4], [5, 6]]

In [ ]:
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# This is equal to implementation with loops

another_flattened_list = []
for sublist in nested_list:
  for item in sublist:
    another_flattened_list.append(item)

print(another_flattened_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# When there are another levels of nesting...

very_nested_list = [[[1, 2], [3, 4], [5, 6]], [[7, 8], [9, 10], [11, 12]]]

# [... for lower in upper: ...]
flat_list = [item for sublist in very_nested_list for subsublist in sublist for item in subsublist]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# There is no tuple comprehension = (x for x in ...) creates a generator

type((x for x in range(0,100)))

generator

## Mutable and immutable types

In [ ]:
# Mutable objects can change their "state" and can't be used for hashing,
# while immutable objects cannot be changed after creation
# Immutable types: int, float, str, bool, tuple

print(hash(0), hash(1), hash(False), hash(True), hash(None), hash(5), hash("qwerty"), hash(2.146))

0 1 0 1 644152 5 6663169683874736729 336653079345199106

In [ ]:
# 0 and False have the same hash value
# 1 and True also have the same hash value
# Try not to use booleans as dict keys or something wierd might happen

hash_dict = {0: 1}
hash_dict[False] = 5
print(hash_dict)

{0: 5}

In [ ]:
# Mutable types: list, dict, set can't be hashed

try:
  hash([1,2,3])
except Exception as e:
  print(e)

try:
  hash({1, 3, 6})
except Exception as e:
  print(e)

try:
  hash({1: 2})
except Exception as e:
  print(e)

unhashable type: 'list'
unhashable type: 'set'
unhashable type: 'dict'

In [ ]:
# This means they can't be used as dict keys (dict values can be mutable)

try:
  new_dict = {[1, 2]: 5}
except Exception as e:
  print(e)

unhashable type: 'list'

In [ ]:
# Unhashable objects also can't be added to sets

try:
  new_set = set()
  new_set.add([1, 2])
except Exception as e:
  print(e)

unhashable type: 'list'

In [ ]:
# If we need hashable collection, frozenset can be used
# This creates immutable set

frozen_set = frozenset([1,2,3,4])
{frozen_set: "Hashable"}

'frozenset' object has no attribute 'add'

In [ ]:
# Custom classes are by default hashed based on their id, so they can be used as dict keys

class CustomClass:
  def __init__(self, a, b):
    self.a = a
    self.b = b

  def print(self):
    print(self.a, self.b)

custom_class = CustomClass([], 16)
print(custom_class)
custom_class.print()
try:
  print(hash(custom_class))
  new_dict = {custom_class: 15}
  print(new_dict)
except Exception as e:
  print(e)

<__main__.CustomClass object at 0x7fbd30510518>
[] 16
-9223363258696265647
{<__main__.CustomClass object at 0x7fbd30510518>: 15}

In [ ]:
# Common error related to mutability - mutable default values in functions / methods

def append_to_or_create_list(item, list_to_append = []):
  list_to_append.append(item)
  return list_to_append

original_list = [1, 2, 3]
extended_list = append_to_or_create_list(4, original_list)
print(extended_list)

[1, 2, 3, 4]

In [ ]:
# Works as intended when parameter is passed, 
# but if there is no parameter, default value gets modified
# and on each use the same list is returned, so every call modifies all previously obtained lists
 
default_list1 = append_to_or_create_list(0)
print(default_list1)
default_list2 = append_to_or_create_list(5)
print(default_list2)
default_list3 = append_to_or_create_list(16)
print(default_list3)

print(default_list1, default_list2, default_list3)
print(id(default_list1), id(default_list2), id(default_list3))

[0]
[0, 5]
[0, 5, 16]
[0, 5, 16] [0, 5, 16] [0, 5, 16]
140450536067912 140450536067912 140450536067912

In [ ]:
# Possible correct solution

def fixed_append_to_or_create_list(item, list_to_append = None):
  if list_to_append is None:
    list_to_append = []
  list_to_append.append(item)
  return list_to_append

default_list1 = fixed_append_to_or_create_list(0)
print(default_list1)
default_list2 = fixed_append_to_or_create_list(5)
print(default_list2)
default_list3 = fixed_append_to_or_create_list(16)
print(default_list3)

print(default_list1, default_list2, default_list3)
print(id(default_list1), id(default_list2), id(default_list3))

[0]
[5]
[16]
[0] [5] [16]
140450535389064 140450535159304 140450536572360

## Deep and shallow copying

In [ ]:
# Assume we want to print normalized vector, but we want to keep original one

from math import sqrt

def normalize_and_print(float_list):
  new_list = float_list
  sum_of_elements = sqrt(sum([item * item for item in new_list]))
  for i in range(len(new_list)):
    new_list[i] = new_list[i] / sum_of_elements
  print(new_list)

In [ ]:
test_list = [1, 2, 3]
normalize_and_print(test_list)
print(test_list)

[0.2672612419124244, 0.5345224838248488, 0.8017837257372732]
[0.2672612419124244, 0.5345224838248488, 0.8017837257372732]

In [ ]:
# Function changed the original list, because python variables are pointers to items in memory
# When we asssign mutable object (list, set, dict, class with setters) to new variable, 
# this is in fact the pointer to the same object
# This behaviour might be unexpected and cause bugs, so we need to use copy

from copy import copy

def normalize_and_print_with_copy(float_list):
  new_list = copy(float_list)
  sum_of_elements = sqrt(sum([item * item for item in new_list]))
  for i in range(len(new_list)):
    new_list[i] = new_list[i] / sum_of_elements
  print(new_list)

In [ ]:
test_list = [1, 2, 3]
normalize_and_print_with_copy(test_list)
print(test_list)

[0.2672612419124244, 0.5345224838248488, 0.8017837257372732]
[1, 2, 3]

In [ ]:
# If the object consists of multiple mutable elements, we need to use deepcopy

from copy import deepcopy

original_list = [{"a": 1, "b": 2}, [1,2,3]]

shallow_copy = copy(original_list)
deep_copy = deepcopy(original_list)

print(original_list)
print(shallow_copy)
print(deep_copy)

[{'a': 1, 'b': 2}, [1, 2, 3]]
[{'a': 1, 'b': 2}, [1, 2, 3]]
[{'a': 1, 'b': 2}, [1, 2, 3]]

In [ ]:
shallow_copy[0]["a"] = 2
print(shallow_copy)
print(original_list)

[{'a': 2, 'b': 2}, [1, 2, 3]]
[{'a': 2, 'b': 2}, [1, 2, 3]]

In [ ]:
deep_copy[1].append(4)
print(deep_copy)
print(original_list)

[{'a': 1, 'b': 2}, [1, 2, 3, 4]]
[{'a': 2, 'b': 2}, [1, 2, 3]]

## Efficiency

### Checking membership

In [ ]:
# Use tuples when evaluating membership - creating tuples is slightly more effective

%timeit "en" in ["de", "en", "es", "fr", "it", "pt"]

10000000 loops, best of 3: 37.4 ns per loop

In [ ]:
%timeit "en" in {"de", "en", "es", "fr", "it", "pt"}

10000000 loops, best of 3: 37.9 ns per loop

In [ ]:
%timeit "en" in ("de", "en", "es", "fr", "it", "pt")

10000000 loops, best of 3: 37.2 ns per loop

In [ ]:
def measure_creation_time():
  # Ipython in colab is bugged so we use workaround
  # globals are bad, don't do it at home
  global n
  print("Tuple")
  %timeit tuple(range(0,n))
  print("List")
  %timeit [x for x in range(0,n)]
  print("Set")
  %timeit {x for x in range(0,n)}

In [ ]:
n = 10
measure_creation_time()

Tuple
The slowest run took 9.41 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 397 ns per loop
List
The slowest run took 4.43 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 619 ns per loop
Set
1000000 loops, best of 3: 691 ns per loop

In [ ]:
n = 1000
measure_creation_time()

Tuple
100000 loops, best of 3: 14.9 µs per loop
List
10000 loops, best of 3: 33 µs per loop
Set
10000 loops, best of 3: 39.8 µs per loop

In [ ]:
n = 1000000
measure_creation_time()

Tuple
10 loops, best of 3: 37.9 ms per loop
List
10 loops, best of 3: 63 ms per loop
Set
10 loops, best of 3: 78.8 ms per loop

### Creating mutable objects

In [ ]:
# Appending to lists is inefficient as list reserve memory with every 4 items

import sys

test_list = []
print(sys.getsizeof(test_list))
i = 1
print(sys.getsizeof(i))
test_list.append(i)
print(sys.getsizeof(test_list))
test_list.append(12)
print(sys.getsizeof(test_list))

64
28
96
96

In [ ]:
# This is why using list comprehension for creating lists is preferred way

%%timeit
test_list = []
for x in range(0, 10000):
  test_list.append(x)

1000 loops, best of 3: 774 µs per loop

In [ ]:
%%timeit
test_list = [i for i in range(0,10000)]

1000 loops, best of 3: 350 µs per loop

### Map / filter vs iterational and comprehension approach

In [ ]:
# Use map/filter/reduce approach whenever possible

calculation = lambda x: (x * x * x) + 2 * (x * x) + 5 * x - 10
numbers = range(10000)

In [ ]:
# Compute function for all numbers

%%timeit
results = []
for x in numbers:
  results.append(calculation(x))

100 loops, best of 3: 2.93 ms per loop

In [ ]:
%timeit results = [calculation(x) for x in numbers]

100 loops, best of 3: 2.44 ms per loop

In [ ]:
%timeit results = map(calculation, numbers)

10000000 loops, best of 3: 141 ns per loop

In [ ]:
# Downside: returns map, not a list, so if we need to convert it's not really efficient

%timeit results = list(map(calculation, numbers))

100 loops, best of 3: 2.4 ms per loop

In [ ]:
# Another case: compute only for even numbers

%%timeit
results = []
for x in numbers:
  if x % 2 == 0:
    results.append(calculation(x))

1000 loops, best of 3: 1.85 ms per loop

In [ ]:
# Bonus: try more efficient range creation

%%timeit
results = []
for x in range(0, 10000, 2):
  if x % 2 == 0:
    results.append(calculation(x))

1000 loops, best of 3: 1.62 ms per loop

In [ ]:
%timeit results = [calculation(x) for x in range(0, 10000, 2)]

1000 loops, best of 3: 1.24 ms per loop

In [ ]:
%timeit results = map(calculation, filter(lambda x: not x % 2, numbers))

The slowest run took 7.90 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 256 ns per loop

In [ ]:
# Using range is worse since it has to be converted to something that can be processed in parallel (eg list conversion)

%timeit results = map(calculation, range(0, 10000, 2))

The slowest run took 6.74 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 330 ns per loop

## Indexing and slices

In [ ]:
# When indexing, defaults evaluate to 0, len(list) and 1
numbers = list(range(0,20))

In [ ]:
numbers[None:None:None]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
numbers[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numbers[2:18:2]

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
numbers[-5:-1:]

[15, 16, 17, 18]

In [ ]:
# Reverse list

numbers[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# All approaches above can be replicate using slice object

numbers[slice(0,None,1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Most indexing tricks work on strings too

ex_text = "print 123456789"
ex_text[::-1]

'987654321 tnirp'

## del keyword

In [ ]:
# del removes binding (pointer) to object, not an object
# objects in python are removed by GC
# usually when there are no references to an obeject, GC clears it

a = {"one":1, "two":2}
b = a
print(id(a), id(a) == id(b))

139790189745856 True

In [ ]:
# del a means that we delete "binding" a attached to object and can no longer use it

del a
try:
  print(a)
except Exception as e:
  print(e)

name 'a' is not defined

In [ ]:
# However, b was not deleted and still exists 
# and we just checked that a and b refer to the same object

b

{'one': 1, 'two': 2}

In [ ]:
# Del can be also used to delete keys from dict

del b["one"]
b

{'two': 2}

In [ ]:
# And removing items from list

c = [1,2,3,4]
del c[2]
c

[1, 2, 4]

In [ ]:
# Works with slices

d = list(range(10))
del d[::2]
d

[1, 3, 5, 7, 9]

In [ ]:
# Works also with classes / functions

class ExampleClass:
  def __init__(self, x, y):
    self.x = x
    self.y = y
  def __repr__(self):
    return f"ExampleClass(x={self.x}, y={self.y})"

ex = ExampleClass(1, 2)
ex

ExampleClass(x=1, y=2)

In [ ]:
# del class - no longer can create new instances

del ExampleClass
try:
  new_ex = ExampleClass(0,0)
except Exception as e:
  print(e)

name 'ExampleClass' is not defined

In [ ]:
# However previously created instances still exists (python is sometimes weird)

ex

ExampleClass(x=1, y=2)